venv
.env
data/
__pycache__/
steps.txt
.venv/



# backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/bible_data/*.json   
.pytest_cache

# extension
extension/node_modules/
extension/dist/
extension/build/

# general
.DS_Store
*.log


.cursor/
.vscode/
.idea/
*.swp
.DS_Store